<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ideanote.hideoradio" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HideoRadioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="HideoRadio.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.example.ideanote.hideoradio.UriTypeSerializer" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EpisodeDetailActivity"
            android:label="@string/title_activity_episode_detail"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ideanote.hideoradio.MainActivity" >
            </meta-data>
        </activity>

        <service
            android:name=".EpisodeDownloadService"
            android:exported="false" >
        </service>
    </application>

</manifest>
